*{
    margin: 0px;
    padding: 0px;

}
.bookbg-1{
    background-color: rgb(12, 182, 159);
    height: 600px;
    
}
.box-0{
    border: none;
    box-shadow: 1px 1px 10px;
    /* border-style: hidden; */
    
 }
 .box-0:hover{
    background-color: goldenrod;
     
 }
 .name-1{
 text-shadow: 2px 2px 10px;
 font-size: 20px;
 }